<article class='bike-section'>
  <div id='container'>
    {{#each this as |bike_row|}}
      <div class='row'>
        {{#each bike_row as |bike|}}
          <div class='col-lg-1 col-md-6 col-sm-12'>
            <a href='/bikes/{{bike.id}}'> 

              {{>bike-info bike}}
            </a>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</article>