<div class="row">
  <div class='bike-card'>
    <div class="bike-info btn btn-dark btn-lg btn-block" id='est_title'>{{brand}} <b>{{model}}</b><i
        class="heart-icon fas fa-heart fa-2x"></i></i>
    </div>
    {{#if this}}
      <img src='/images/bikes/{{filename}}' class='img-thumbnail img img-responsive ' />
      <strong><span class="btn btn-outline-dark btn-lg btn-block">Price: {{price}}</span></strong>
    {{/if}}
  </div>
</div>