{{! <template id='profile-template'> }}
<div class='modal fade' id='profile-modal' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Profile Settings</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <form class='account-settings'>

          <div class='account-form-wrapper'>
            <h2 class='avatar-header'>Avatar</h2>
            <img src='/images/avatar/{{picture}}' />
          </div>

          <div class='account-form-wrapper'>
            <label class='email-label'>Email: </label>
            <span
              class='email-setting'
              data-profileInput='email'
            >{{email}}</span>
            <button type='button' class='btn edit-btn email-edit'>Edit</button>
          </div>

          <div class='account-form-wrapper'>
            <label class='username-label'>Username: </label>
            <span
              class='username-setting'
              data-profileInput='username'
            >{{username}}</span>
            <button
              type='button'
              class='btn edit-btn username-edit'
            >Edit</button>
          </div>

          <div class='account-form-wrapper'>
            <label class='name-label'>Name: </label>
            <span class='name-setting' data-profileInput='name'>{{email}}</span>
            <button type='button' class='btn edit-btn name-edit'>Edit</button>

          </div>

          <div class='account-form-wrapper'>
            <label class='password-label'>Password: </label>
            <span
              class='password-setting'
              data-profileInput='password'
            >******</span>
            <button
              type='button'
              class='btn edit-btn password-edit'
            >Edit</button>

          </div>

          <div class='account-form-wrapper'>
            <button class='btn cart-btn'>View your cart</button>
          </div>

        </form>
      </div>

      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Close</button>
        <button type='button' class='btn btn-primary save-btn'>Save changes</button>
      </div>
    </div>
  </div>
</div>
<script
  src='https://code.jquery.com/jquery-3.6.0.min.js'
  integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
  crossorigin='anonymous'
  type='text/javascript'
></script>

<script src='/javascript/profile.js'></script>