<div class='sub-part-card'>

  <div class='sub-part-header-wrapper'>
    <h3 class='sub-part-header'>{{name}}</h3>
  </div>
  <div class='sub-part-wrapepr'>
    <span>Quality: {{quality_type}}</span>
  </div>

  <div class='sub-part-wrapepr'>
    <img
      src='/images/parts/{{filename}}'
      class='img-thumbnail img img-responsive'
    />
  </div>

  <div class='sub-part-wrapepr'>
    <span class='btn btn-outline-dark btn-block'>Price: {{price}}</span>
  </div>
</div>