<<<<<<< HEAD
<section class="customize-section">

    {{#each wishlist.parts as |part|}}
        {{>part part}}
    {{/each}}
    {{>bike-info bike }}

    {{#if loggedIn}}
        <form class="comment-form">
            <div>
                <textarea placeholder="Write your comment" class="ml-5" name="comment-body"></textarea>
            </div>
            
                <button class="add-button mt-3 btn btn-outline-dark" type="submit">Add comment</button>
            
        </form>
    {{/if}}

    
    {{!-add items}}
</section>
=======
{{> parts partData}}
>>>>>>> a1ed7c8d4d280019c0a95ff55b48f9c8bac38db7
