* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* general body set */

body{
    font-family: 'Montserrat', sans-serif!important;
    background-image: url("../../public/images/bike-race.jpg");
    background-size: cover;        background-position:center;
    background-attachment: fixed;
    background-position: 80%;
}

/* Navbar Section */

.navbar{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(229,244,224,1) 0%, rgba(108,217,38,1) 24%, rgba(34,162,154,1) 65%, rgba(8,92,206,1) 100%, rgba(0,212,255,1) 100%);
}
.nav{
font-weight: bold;
}

.navbar{
    padding:30px 0 30px 30px;
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 40px;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-toggler:hover {
    text-decoration: none;
    color: rgb(197, 228, 86);
}

/* Footer Section */

footer{
    display:block;
    justify-content: flex-end;
    padding-top: 20px;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: white!important;
    font-weight: bold;
}

/* Icons contact Section */
.icon{
    padding-right: 50px;
    color: rgb(197, 228, 86);
}

.icon:hover{
   color: rgb(106, 181, 216);
}


footer a{
    justify-content: space-evenly;
}

footer .icons{
    padding-bottom: 30px;
    padding-top: 30px;
}

@media screen and (max-width:980px){
    .navbar-brand{
        font-size: 30px;
    }
    
}

@media screen and (max-width:768px){
    .navbar-brand{
        font-size: 30px;
    }
    .navbar{
        padding-top:20px;
        padding-bottom: 20px;
    }
    
}
@media screen and (max-width:575px){
    .navbar-brand{
        font-size: 20px;
    }
    .container-fluid{
        flex-direction: column;
        margin-left: 0;
    }
    .navbar-collapse{
        font-size: 14px;
    }
    .text-center{
        font-size: small;
        font-size: 12px;
    }
    .icon{
        padding-right: 20px;
    }
  
    
}







